absl-py==1.0.0
asgiref==3.5.1
astunparse==1.6.3
attrs==22.1.0
beautifulsoup4==4.11.1
cachetools==5.1.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
cycler==0.11.0
Cython==0.29.28
decorator==4.4.2
deepface==0.0.75
Django==4.0.4
easyocr==1.4.2
et-xmlfile==1.1.0
filelock==3.7.0
fire==0.4.0
Flask==2.1.2
flatbuffers==2.0
fonttools==4.33.3
gast==0.5.3
gdown==4.4.0
gensim==4.2.0
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.46.1
h5py==3.6.0
idna==3.3
imageio==2.19.2
imageio-ffmpeg==0.4.7
importlib-metadata==4.11.3
imutils==0.5.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
libclang==14.0.1
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
mediapipe==0.8.10.1
moviepy==1.0.3
mtcnn==0.1.1
networkx==2.8
nltk==3.7
numpy==1.22.3
