# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
# ca-certificates==2022.10.11
certifi==2022.12.7
charset-normalizer
contourpy==1.0.6
cycler==0.11.0
Django==4.0.5
cython==0.29.32
#easyocr==1.6.2
et-xmlfile==1.1.0
fonttools==4.38.0
fst-pso==1.8.1
fuzzytm==2.0.5
gdown==4.6.0
gensim==4.3.0
idna==3.4
imageio==2.23.0
imutils==0.5.4
joblib==1.2.0
kiwisolver==1.4.4
matplotlib==3.6.0
miniful==0.0.6
networkx==2.8.8
ninja==1.11.1
numpy==1.24.1
# openssl==1.1.1s
#opencv-contrib-python==4.7.0.68
#opencv-python==4.5.4.60
opencv-python-headless==4.5.3.56
#opencv-python-headless==4.5.4.60
openpyxl==3.0.10
packaging==22.0
pandas==1.5.0
pillow==9.3.0
pip==22.3.1
pyclipper==1.3.0.post4
pyfume==0.2.25
pyparsing==3.0.9
# python==3.9.15
python-dateutil==2.8.2
pytz==2022.7
#pywavelets==1.4.1
#pyyaml==6.0
regex==2022.10.31
requests==2.28.1
#scikit-image==0.19.3
scikit-learn==1.2.0
scipy==1.9.3
setuptools==65.5.0
simpful==2.9.0
six==1.16.0
smart-open==6.3.0
# sqlite==3.40.0
threadpoolctl==3.1.0
tifffile==2022.10.10
tqdm==4.64.1
typing-extensions==4.4.0
#tzdata==2022.2
urllib3==1.26.13
# vc==14.2
# vs2015_runtime==14.27.29016
wheel==0.37.1
wincertstore==0.2
gunicorn==20.1.0
